/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
collection.section-template--19602900058250.featured.collection-padding {
  background-color: #F5F5F5;
  padding-top: 43px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
h2.title.inline-richtext.h2 {
    font-family: Gothic A1;
font-weight: 900;
font-size: 26px;
line-height: 36px;
letter-spacing: 0%;
text-align: center;

}

